<div class="col-10 offset-1 about">
  <h1>About Business Name</h1>
  <p>
    My insert_business_name is ran by
    <a target="_blank" href="https://www.rover.com/members/diana-t-large-fenced-yard-flexible-hours/">Diana Troung</a>
  <br/>
  <p>
    I lookafter a lot dogs on Rover and have dogs of our own!
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'diana.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Diana Troung</h2>
      <br/>
      <p>
        Diana Troung is a accountant and a dog lover. She has had jover 10 plus happy customers verified on <a target="_blank" href="https://www.rover.com/members/diana-t-large-fenced-yard-flexible-hours/">Rover</a>.
      </p>
    </div>
  </div>
  <br class="clear"/>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
